extends colors-types.pug

mixin colors(classColor, nameColor, HEXcolor)
  each val in classColor
    .val
  each val in nameColor
    h1= val
      each val in HEXcolor
        span= val

block Variables

block Colors
  +colors(classColor, nameColor, HEXcolor)