extends mixins.pug

block Variables
  - var numberColors = 7;
  - var classColor = ['gray-100', 'gray-75', 'gray-50', 'gray-25', 'gray-5',   'purple', 'green'];
  - var nameColor = ['Dark Shade 100%', 'Dark Shade 75%', 'Dark Shade 50%',   'Dark Shade 25%', 'Dark Shade 5%', 'Purple', 'Green'];
  - var HEXcolor = ['#1F2041', '#1F2041', '#1F2041', '#1F2041', '#1F2041', '#BC9CFF', '#6FCF97'];