extends ./components/settingsPUG/base.pug

block Content
  .wrapper
    section(class="colors-type")
      include ./components/colorstypes/colors-types.pug
    section(class="form-elements")
    section(class="cards")
    section(class="headers-footers")